
/* Comment in CSS */

p {
    background-color: lightBlue;
}

o {
    color: red;
}

li {
    border:2px solid black;
}

#para3 {
    color: blue;
}

.bold {
    font-weight: bold;
}

ol li.bold {
    color: yellow;
}
